.upload_header{
    width: 50%;
    .header{
        width: 70%;
    }
    .upload_img{
        width: 70%;
        height: 100%;
        opacity: 0;
    }
    .chicken_img{
        opacity: .5;
    }
}
.upload_Introduction{
    width: 50%;
    .introduction{
        width: 80%;
    }
}