.sec3_4_container{
    display: flex;
    width: 85%;
    margin: 0 auto;    
}
.sec3{
    width: 75%;
    height: 300px;
    background-color: lightgray;
}
.sec3 h2{
padding: 5px;
}
.sec3_card_sec{
    display: flex;
}
.sec3_card_item{
    width: 50%;
    display: flex;
}
.sec3 img{
    width: 100px;
    height: 100px;
}
.cardprice_bar{
    display: flex;
}
.cardprice_bar img{
    width: 20px;
    height: 20px;
}
